<%- include('partials/head') %>

<body class="bg-gradient-to-br from-blue-100 via-pink-100 to-yellow-100 min-h-screen">

    <%- include('partials/nav') %>

    <main>
    <h1>404 Page Not Found</h1>

    </main>
  </body>
</html>