<%- include('partials/head') %>

</head>
<body>
    <%- include('partials/nav') %>
    <h1 style="color: aquamarine; font-weight: bold;">Your Home name Added Successfully</h1>
    <button><a href="/">Go to Home</a></button>
</body>
</html>